<div class="home-wrapper">
    <div class="home-search">
        <input type="text" #searchInput class="input-search" placeholder="Search github mates..." (keyup)="userName$.next($event.target.value)" (keyup)="checkInput(searchInput.value)">
        <i class="fa fa-search" aria-hidden="true"> </i>
    </div>
    <div class="results" *ngIf="users.length > 0">
        <ul class="result-list">
            <app-user-list [users]="users" (selectUser)="goToUserDetail($event)"></app-user-list>
        </ul>
    </div>
</div>